/* Estilos globales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #6a93cd;
    color: rgb(5, 0, 0);
    padding: 5px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;/*ancho de la barra superior*/
    z-index: 999;
}

/* Menú horizontal */
.menu-horizontal {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 24px;
    margin-left: 220px;
    margin-right: 220px;
    margin-top: -20px;
}
/* Botones horizonatales */
.menu-horizontal button {
    border-radius: 5px;
    font-size: 17px;
    padding: 5px 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-top: 10px;
    white-space: nowrap;
    background-color: #ced6ce;/*color de los botones superiores*/
    border: 2px solid #ced6ce; /* color del borde de los botones superiores */
    
}
.menu-horizontal button:hover {
    background-color: #45a049; /* Nuevo color de fondo al pasar el cursor */
    border: 2px solid #45a049; /* Cambia el color del borde al pasar el cursor */
    color: white; /* Cambiar el color del texto si es necesario */
}

.menu-horizontal button:hover {
    transform: scale(1.05);
}

/* Botón de WhatsApp */
.boton-whatsapp {
    position: absolute;
    top: 50px;
    right: 15px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.boton-whatsapp:hover {
    background-color: #1da851;
    transform: scale(1.05);
}

.boton-whatsapp img {
    width: 40px;
    margin-right: 10px;
}

/* Contenedor */
.contenedor {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Barra lateral */
.sidebar {
    position: fixed;
    top: 140px;
    left: 0;
    height: calc(100% - 150px);
    width: 19%;
    background-color: #f4f4f4; /*color del padding de los botones laterales*/
    padding: 20px 10px;
    box-shadow: 2px 0px 5px rgba(8, 29, 221, 0.2);/*sombra del padding del cuadro de los botones laterales*/
    overflow-y: auto;
    z-index: 998;
    padding-left: 20px;
    padding-right:0px;
    margin-left: 0px;
    padding-top: 20px;
    padding-bottom: 2px;
    max-height: 330px;
    max-width: 300px;
    
}

.sidebar h2 {
    margin-bottom: 20px;
    margin-left: 50px;
    margin-top: 0px;
}

.sidebar button {
    display: block;
    width: 80%;
    margin: 5px 10px;
    padding: 10px 10px;
    border: none;
    background-color: #6a93cd;/* color de los botones laterales*/
    color: white;/*color de las letras de los botones laterales*/
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 50px;
    

}

.sidebar button:hover {
    background-color: #45a049;/*cambia color al poner el cursor en botones laterales*/
}

/* Contenido principal */
.contenido {
    margin-left: 20%;
    padding: 20px;
    overflow-y: auto;
    margin-top: 120px;
    padding-top: 0%;
}

/* Secciones de productos */
.categoria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.categoria h2 {
    grid-column: span 4;
    text-align: center;
    margin-bottom: 10px;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;/*color de borde paddings de los productos*/
    padding: 10px;
    border-radius: 5px;
    background-color: #ced6ce;/*color de paddings de los productos*/
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
}

.producto img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.producto img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(32, 10, 227, 0.3);/*sombra imagen de proucto al ampliar*/
}

/* Detalle del Producto */
.detalle-producto {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: 2px solid #ddd;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-height: 80%;
    z-index: 1000;/* Oculto por defecto */
    overflow-y: auto;
    
}


.imagen-detalle img {
    width: 80%;
    max-width: 600px;
    height: auto;
}

.descripcion-detalle {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.descripcion-detalle h2 {
    margin-top: 0;
}

.descripcion-detalle button {
    background-color: #ec203f;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 35px;
    border-radius: 10px;
}

.descripcion-detalle button:hover {
    background-color: #c72033;
}

/* Botón de contacto */
.contact-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    animation: bounce 1s infinite;
    z-index: 999;
}

.whatsapp-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* Ajustes para pantallas medianas */
@media (max-width: 1024px) {
    .categoria {
        grid-template-columns: repeat(2, 1fr);
    }
    .sidebar {
        width: 25%;
    }
    .contenido {
        margin-left: 25%;
    }
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .categoria {
        grid-template-columns: 1fr;
    }
    .sidebar {
        position: relative;
        width: 100%;
        top: 0;
    }
    .contenido {
        margin-left: 0;
        margin-top: 20px;
    }
    .contact-button {
        padding: 8px 15px;
        top: auto;
        bottom: 20px;
    }
}

/* Estilos para la barra horizontal */
/* Estilos para la barra horizontal */
.barra-horizontal {
    width: 100%; /* Ancho completo de la pantalla */
    background-color: #6a93cd; /* Color de fondo de la barra (puedes cambiarlo) */
    color: white; /* Color del texto */
    height: 50px; /* Altura de la barra */
    position: relative; /* Cambiado de fixed a relative */
    bottom: 0; /* Elimina esta propiedad, ya no es necesaria */
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
}

p {
    font-size: 25px; /* Ajusta el tamaño de la fuente según lo que necesites */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    font-size: 25px; /* Ajusta el tamaño de la fuente según lo que necesites */

}

h2 {
    font-size: 30px;
}
h4 {
    font-size: 20px;
    padding-left: 70px;
}